{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Terms & Conditions" %}{% endblock %}

{% block content %}
<div class="container text-light py-5">
    <h1 class="mb-4">{% trans "Perfumeswap Terms of Service" %}</h1>
    <div class="bg-dark p-4 rounded" style="white-space: pre-line; font-size: 0.95rem;">
 {% blocktrans trimmed %}
Perfumeswap Terms of Service Welcome to Perfumeswap!
{% endblocktrans %}

{% blocktrans trimmed %}
1. Your relationship with Perfumeswap Inc
{% endblocktrans %}

{% blocktrans trimmed %}
1.1 Your use of Perfumeswap’s products, software, services and web sites (referred to collectively
as the “Services” in this document and excluding any services provided to you by Perfumeswap under a
separate written agreement) is subject to the terms of a legal agreement between you and
Perfumeswap. “Perfumeswap” means Perfumeswap inc, whose principal place of business is at 3651
Lindell Road, Suite D1201, Las Vegas, NV, US 89103, United States. This document explains how the
agreement is made up, and sets out some of the terms of that agreement.
{% endblocktrans %}

{% blocktrans trimmed %}
1.2 Unless otherwise agreed in writing with Perfumeswap, your agreement with Perfumeswap will always
include, at a minimum, the terms and conditions set out in this document. These are referred to
below as the “Universal Terms”.
{% endblocktrans %}
   Unless otherwise agreed in writing with Perfumeswap, your agreement with Perfumeswap will always include, at a minimum, the terms and conditions set out in this document. These are referred to below as the “Universal Terms”.

<h2>1. {% blocktrans trimmed %}Universal Terms{% endblocktrans %}</h2>

<p>{% blocktrans trimmed %}
Unless otherwise agreed in writing with Perfumeswap, your agreement with Perfumeswap will always include, at a minimum, the terms and conditions set out in this document. These are referred to below as the “Universal Terms”.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
Your agreement with Perfumeswap will also include the terms of any Legal Notices applicable to the Services, in addition to the Universal Terms. All of these are referred to below as the “Additional Terms”. Where Additional Terms apply to a Service, these will be accessible for you to read either within, or through your use of, that Service.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
The Universal Terms, together with the Additional Terms, form a legally binding agreement between you and Perfumeswap in relation to your use of the Services. It is important that you take the time to read them carefully. Collectively, this legal agreement is referred to below as the “Terms”.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
If there is any contradiction between what the Additional Terms say and what the Universal Terms say, then the Additional Terms shall take precedence in relation to that Service.
{% endblocktrans %}</p>

<h2>2. {% blocktrans trimmed %}Accepting the Terms{% endblocktrans %}</h2>

<p>{% blocktrans trimmed %}
In order to use the Services, you must first agree to the Terms. You may not use the Services if you do not accept the Terms.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You can accept the Terms by:
{% endblocktrans %}</p>

<ul>
  <li>{% blocktrans trimmed %}
  Clicking to accept or agree to the Terms, where this option is made available to you by Perfumeswap in the user interface for any Service.
  {% endblocktrans %}</li>
  <li>{% blocktrans trimmed %}
  By actually using the Services. In this case, you understand and agree that Perfumeswap will treat your use of the Services as acceptance of the Terms from that point onwards.
  {% endblocktrans %}</li>
</ul>

<p>{% blocktrans trimmed %}
You may not use the Services and may not accept the Terms if (a) you are not of legal age to form a binding contract with Perfumeswap, or (b) you are a person barred from receiving the Services under the laws of the United States or other countries including the country in which you are resident or from which you use the Services.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
Before you continue, you should print off or save a local copy of the Universal Terms for your records.
{% endblocktrans %}</p>

<h2>3. {% blocktrans trimmed %}Language of the Terms{% endblocktrans %}</h2>

<p>{% blocktrans trimmed %}
Where Perfumeswap has provided you with a translation of the English language version of the Terms, then you agree that the translation is provided for your convenience only and that the English language versions of the Terms will govern your relationship with Perfumeswap.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
If there is any contradiction between what the English language version of the Terms says and what a translation says, then the English language version shall take precedence.
{% endblocktrans %}</p>

<h2>4. {% blocktrans trimmed %}Provision of the Services by Perfumeswap{% endblocktrans %}</h2>

<p>{% blocktrans trimmed %}
Perfumeswap has subsidiaries and affiliated legal entities around the world (“Subsidiaries and Affiliates”). Sometimes, these people or companies will be providing the Services to you on behalf of Perfumeswap itself. You acknowledge and agree that Subsidiaries and Affiliates will be entitled to provide the Services to you.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
Perfumeswap is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Services which Perfumeswap provides may change from time to time without prior notice to you.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
As part of this continuing innovation, you acknowledge and agree that Perfumeswap may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally at Perfumeswap’s sole discretion, without prior notice to you. You may stop using the Services at any time. You do not need to specifically inform Perfumeswap when you stop using the Services.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You acknowledge and agree that if Perfumeswap disables access to your account, you may be prevented from accessing the Services, your account details or any files or other content which is contained in your account.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You acknowledge and agree that while Perfumeswap may not currently have set a fixed upper limit on the number of transmissions you may send or receive through the Services or on the amount of storage space used for the provision of any Service, such fixed upper limits may be set by Perfumeswap at any time, at Perfumeswap’s discretion.
{% endblocktrans %}</p>

<h2>5. {% blocktrans trimmed %}Use of the Services by you{% endblocktrans %}</h2>

<p>{% blocktrans trimmed %}
In order to access certain Services, you may be required to provide information about yourself (such as identification or contact details) as part of the registration process for the Service, or as part of your continued use of the Services. You agree that any registration information you give to Perfumeswap will always be accurate, correct and up to date.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You agree to use the Services only for purposes that are permitted by (a) the Terms and (b) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions (including any laws regarding the export of data or software to and from the United States or other relevant countries).
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You agree not to access (or attempt to access) any of the Services by any means other than through the interface that is provided by Perfumeswap, unless you have been specifically allowed to do so in a separate agreement with Perfumeswap. You specifically agree not to access (or attempt to access) any of the Services through any automated means (including use of scripts or web crawlers) and shall ensure that you comply with the instructions set out in any robots.txt file present on the Services.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services).
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
Unless you have been specifically permitted to do so in a separate agreement with Perfumeswap, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
You agree that you are solely responsible for (and that Perfumeswap has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which Perfumeswap may suffer) of any such breach.
{% endblocktrans %}</p>

{% blocktrans trimmed %}
Unless otherwise agreed in writing with Perfumeswap, your agreement with Perfumeswap will always include, at a minimum, the terms and conditions set out in this document. These are referred to below as the “Universal Terms”.
{% endblocktrans %}

{% blocktrans trimmed %}
Your agreement with Perfumeswap will also include the terms of any Legal Notices applicable to the Services, in addition to the Universal Terms. All of these are referred to below as the “Additional Terms”. Where Additional Terms apply to a Service, these will be accessible for you to read either within, or through your use of, that Service.
{% endblocktrans %}

{% blocktrans trimmed %}
The Universal Terms, together with the Additional Terms, form a legally binding agreement between you and Perfumeswap in relation to your use of the Services. It is important that you take the time to read them carefully. Collectively, this legal agreement is referred to below as the “Terms”.
{% endblocktrans %}

{% blocktrans trimmed %}
If there is any contradiction between what the Additional Terms say and what the Universal Terms say, then the Additional Terms shall take precedence in relation to that Service.
{% endblocktrans %}

{% blocktrans trimmed %}
In order to use the Services, you must first agree to the Terms. You may not use the Services if you do not accept the Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
You can accept the Terms by: (A) clicking to accept or agree to the Terms, where this option is made available to you by Perfumeswap in the user interface for any Service; or (B) by actually using the Services. In this case, you understand and agree that Perfumeswap will treat your use of the Services as acceptance of the Terms from that point onwards.
{% endblocktrans %}

{% blocktrans trimmed %}
You may not use the Services and may not accept the Terms if (a) you are not of legal age to form a binding contract with Perfumeswap, or (b) you are a person barred from receiving the Services under the laws of the United States or other countries including the country in which you are resident or from which you use the Services.
{% endblocktrans %}

{% blocktrans trimmed %}
Before you continue, you should print off or save a local copy of the Universal Terms for your records.
{% endblocktrans %}

{% blocktrans trimmed %}
Where Perfumeswap has provided you with a translation of the English language version of the Terms, then you agree that the translation is provided for your convenience only and that the English language versions of the Terms will govern your relationship with Perfumeswap.
{% endblocktrans %}

{% blocktrans trimmed %}
If there is any contradiction between what the English language version of the Terms says and what a translation says, then the English language version shall take precedence.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap has subsidiaries and affiliated legal entities around the world (“Subsidiaries and Affiliates”). Sometimes, these people or companies will be providing the Services to you on behalf of Perfumeswap itself. You acknowledge and agree that Subsidiaries and Affiliates will be entitled to provide the Services to you.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Services which Perfumeswap provides may change from time to time without prior notice to you.
{% endblocktrans %}

{% blocktrans trimmed %}
As part of this continuing innovation, you acknowledge and agree that Perfumeswap may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally at Perfumeswap’s sole discretion, without prior notice to you. You may stop using the Services at any time. You do not need to specifically inform Perfumeswap when you stop using the Services.
{% endblocktrans %}

{% blocktrans trimmed %}
You acknowledge and agree that if Perfumeswap disables access to your account, you may be prevented from accessing the Services, your account details or any files or other content which is contained in your account.
{% endblocktrans %}

{% blocktrans trimmed %}
You acknowledge and agree that while Perfumeswap may not currently have set a fixed upper limit on the number of transmissions you may send or receive through the Services or on the amount of storage space used for the provision of any Service, such fixed upper limits may be set by Perfumeswap at any time, at Perfumeswap’s discretion.
{% endblocktrans %}

{% blocktrans trimmed %}
Unless you have agreed otherwise in writing with Perfumeswap, nothing in the Terms gives you a right to use any of Perfumeswap’s trade names, trade marks, service marks, logos, domain names, and other distinctive brand features. This includes but not limited to use Perfumeswap as a username, name or part of name, title, or any other form of the identification on Perfumeswap websites or anywhere else online or offline.
{% endblocktrans %}

{% blocktrans trimmed %}
If you have been given an explicit right to use any of these brand features in a separate written agreement with Perfumeswap, then you agree that your use of such features shall be in compliance with that agreement, any applicable provisions of the Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
Other than the limited license set forth in Section 11, Perfumeswap acknowledges and agrees that it obtains no right, title or interest from you (or your licensors) under these Terms in or to any Content that you submit, post, transmit or display on, or through, the Services, including any intellectual property rights which subsist in that Content. Unless you have agreed otherwise in writing with Perfumeswap, you agree that you are responsible for protecting and enforcing those rights and that Perfumeswap has no obligation to do so on your behalf.
{% endblocktrans %}

{% blocktrans trimmed %}
You agree that you shall not remove, obscure, or alter any proprietary rights notices (including copyright and trade mark notices) which may be affixed to or contained within the Services.
{% endblocktrans %}

{% blocktrans trimmed %}
Unless you have been expressly authorized to do so in writing by Perfumeswap, you agree that in using the Services, you will not use any trade mark, service mark, trade name, logo of any company or organization in a way that is likely or intended to cause confusion about the owner or authorized user of such marks, names or logos.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the website and software provided to you by Perfumeswap as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Perfumeswap, in the manner permitted by the Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
You may not (and you may not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Software or any part thereof, unless this is expressly permitted or required by law, or unless you have been specifically told that you may do so by Perfumeswap, in writing.
{% endblocktrans %}

{% blocktrans trimmed %}
Unless Perfumeswap has given you specific written permission to do so, you may not assign (or grant a sub-license of) your rights to use the Software, grant a security interest in or over your rights to use the Software, or otherwise transfer any part of your rights to use the Software.
{% endblocktrans %}

{% blocktrans trimmed %}
You retain copyright and any other rights you already hold in Content which you submit, post or display on or through the Services. By submitting, posting or displaying the content you give Perfumeswap a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute any Content. This license enables Perfumeswap to display, distribute and promote the Services and may be revoked for certain Services as defined in the Additional Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
You agree that this license includes a right for Perfumeswap to make such Content available to other companies, organizations or individuals with whom Perfumeswap has relationships for the provision of syndicated services, and to use such Content in connection with those services.
{% endblocktrans %}

{% blocktrans trimmed %}
You understand that Perfumeswap, in performing the required technical steps to provide the Services, may (a) transmit or distribute your Content over various public networks and in various media; and (b) make changes to conform and adapt that Content to the technical requirements of networks, devices, services or media. You agree this license permits Perfumeswap to take these actions.
{% endblocktrans %}

{% blocktrans trimmed %}
You confirm and warrant to Perfumeswap that you have all the rights, power and authority necessary to grant the above license.
{% endblocktrans %}

{% blocktrans trimmed %}
The website or any software which you use to access the Service may update without prior notice. These updates are designed to improve and further develop the Services and may include bug fixes, enhanced functions, new modules, or entirely new versions. Some modules and parts of the service may be discontinued. You agree to receive such updates as part of your use of the Services.
{% endblocktrans %}

{% blocktrans trimmed %}
We are committed to making our products and services accessible to everyone, including people with disabilities. We follow the Web Content Accessibility Guidelines (WCAG) and use ARIA specifications. For assistance, contact us at Perfumeswap@gmail.com. Read more about accessibility at https://www.fragrantica.com/accessibility-commitment.phtml
{% endblocktrans %}

{% blocktrans trimmed %}
The Terms will continue to apply until terminated by either you or Perfumeswap.
{% endblocktrans %}

{% blocktrans trimmed %}
You may terminate your agreement with Perfumeswap at any time by notifying us and closing your account. Your notice must be sent in writing to the address provided in these Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap may terminate its agreement with you if: (a) you breach the Terms; (b) required by law; (c) a partner ends their relationship with Perfumeswap; (d) Perfumeswap stops offering Services in your country; (e) Services become commercially unviable.
{% endblocktrans %}

{% blocktrans trimmed %}
Nothing in this Section affects Perfumeswap’s rights under Section 4 of the Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
Upon termination, legal rights and obligations accrued during the Terms will survive. Paragraph 20.7 will continue to apply indefinitely.
{% endblocktrans %}

{% blocktrans trimmed %}
NOTHING IN THESE TERMS, INCLUDING SECTIONS 14 AND 15, SHALL EXCLUDE OR LIMIT PERFUMESWAP’S WARRANTY OR LIABILITY FOR LOSSES WHICH MAY NOT BE LAWFULLY EXCLUDED OR LIMITED BY APPLICABLE LAW.
{% endblocktrans %}

{% blocktrans trimmed %}
YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED "AS IS" AND “AS AVAILABLE.”
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap and its licensors do not represent or warrant that: (a) your use of the Services will meet your requirements; (b) your use will be uninterrupted, timely, secure, or error-free; (c) any information obtained is accurate or reliable; or (d) defects in operation or functionality will be corrected.
{% endblocktrans %}

{% blocktrans trimmed %}
Any material downloaded or obtained through the Services is done at your own risk. You are solely responsible for any damage or data loss.
{% endblocktrans %}

{% blocktrans trimmed %}
No advice or information, whether oral or written, obtained by you from Perfumeswap shall create any warranty not stated in the Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap disclaims all warranties and conditions, express or implied, including merchantability, fitness for a particular purpose and non-infringement.
{% endblocktrans %}

{% blocktrans trimmed %}
You understand and agree that Perfumeswap and its licensors shall not be liable for any direct, indirect, incidental, special or consequential damages, including but not limited to loss of profits, data, goodwill, procurement costs, or intangible losses.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap is not liable for losses resulting from (a) reliance on advertising; (b) changes or discontinuation of the Services; (c) deletion or failure to store content; (d) inaccurate account info; or (e) compromised account security.
{% endblocktrans %}

{% blocktrans trimmed %}
The above limitations apply even if Perfumeswap has been advised of the possibility of such losses.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap responds to copyright infringement notices under relevant law and may terminate accounts of repeat infringers. See our DMCA policy at http://www.fragrantica.com/dmca.phtml.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap may display third-party ads. Advertisers are responsible for their content. To report infringement, visit http://www.fragrantica.com/dmca.phtml.
{% endblocktrans %}

{% blocktrans trimmed %}
Some Services are supported by ads. These may be targeted based on usage. Ad format and extent may change without notice.
{% endblocktrans %}

{% blocktrans trimmed %}
By using the Services, you agree to the display of ads and acknowledge reading our compensation policy at http://www.fragrantica.com/disclaimer.phtml.
{% endblocktrans %}

{% blocktrans trimmed %}
The Services may include links to external websites. Perfumeswap has no control over them and is not responsible for their content or availability.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap is not liable for loss or damage caused by reliance on external content or the unavailability of such resources.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap may change these Terms. Updated Terms will be available at http://www.perfumeswap.bg/accounts/Terms-ofService.phtml
{% endblocktrans %}

{% blocktrans trimmed %}
If you use the Services after changes to the Terms, your use is deemed acceptance of the updated Terms.
{% endblocktrans %}

{% blocktrans trimmed %}
Using the Services may involve third-party goods or software, subject to separate terms. These Terms do not affect those relationships.
{% endblocktrans %}

{% blocktrans trimmed %}
These Terms represent the entire agreement between you and Perfumeswap regarding the Services, replacing all prior agreements.
{% endblocktrans %}

{% blocktrans trimmed %}
Perfumeswap may send notices by email, mail, or posting on the Services.
{% endblocktrans %}

{% blocktrans trimmed %}
If Perfumeswap fails to enforce any part of the Terms, it does not waive its right to do so later.
{% endblocktrans %}

{% blocktrans trimmed %}
If a court finds part of the Terms invalid, the rest will remain in effect.
{% endblocktrans %}

{% blocktrans trimmed %}
Companies affiliated with Perfumeswap may enforce the Terms where a benefit is conferred on them. No other parties have such rights.
{% endblocktrans %}

{% blocktrans trimmed %}
The Terms are governed by Nevada law. Disputes shall be resolved in Las Vegas courts. Perfumeswap may seek urgent legal relief elsewhere.
May 08, 2011.
Address update: October 21st 2013.
        {% endblocktrans %}
    </div>
</div>
{% endblock %}
